/* Add a dark blue bottom border to the rows */
.bordered-pane {
    -fx-border-color: transparent transparent #023047 transparent;
    -fx-border-width: 0 0 2 0;
}

/* Cool button styling */
.cool-button {
    -fx-background-color: linear-gradient(to bottom, #023047, #000000);
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-cursor: hand;
}
.back{
    -fx-background-color: linear-gradient(to bottom, #6a040f, #370617);
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-cursor: hand;

}

.cool-button:hover {
    -fx-background-color: linear-gradient(to bottom, #023047, #023047);
}

.cool-button:pressed {
    -fx-background-color: linear-gradient(to bottom, #388E3C, #2E7D32);
    -fx-effect: none;
}
.even-row {
    -fx-background-color: #f0f0f0;
}

.odd-row {
    -fx-background-color: #e0e0e0;
}
.button {
    -fx-background-color: #006494; /* Solid blue */
    -fx-text-fill: white; /* White text */
    -fx-font-size: 14px; /* Font size */
    -fx-font-family: "Arial", sans-serif; /* Font */
    -fx-font-weight: bold; /* Bold text */
    -fx-padding: 8 16; /* Padding inside the button */
    -fx-border-radius: 4; /* Rounded corners */
    -fx-background-radius: 4; /* Rounded background */
}
.button:hover{
    -fx-background-color: #61a5c2;
}


